.gnb {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.gnbitemclient,
	.gnbitemmanager,
	.gnbiteminfo {
		width: 20vw;
		height: 60vh;
		padding: 5px;
		border-color: transparent;
		font: 600 5vw/1.2 'arial';
		color: #fff;
		border-radius: 20px;
		cursor: pointer;
		transition: background-color 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.gnbitemclient:hover {
		background-color: #f8bbd0;
	}
	.gnbitemmanager:hover {
		background-color: #a8d5ba;
	}
	.gnbiteminfo:hover {
		background-color: #ababab;
	}

	/* 각 버튼별 배경색 */
	.gnbitemclient {
		background-color: #fd0059;
	}

	.gnbitemmanager {
		background-color: #01d556;
	}

	.gnbiteminfo {
		background-color: #595959;
	}
}
