.introduction {
	width: 100vw;
	height: 100vh;

	.history {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			font: 500 1rem/1 'Gothic A1';
			text-align: center;
		}
	}

	// .photos {
	// 	width: 80vw;
	// 	display: flex;
	// 	justify-content: center;
	// }

	// .swiper-slide img {
	// 	width: 100%;
	// 	height: auto;
	// 	object-fit: cover;
	// 	border-radius: 8px;
	// }
}
