.youtube {
	width: 100vw;
	height: 100vh;

	.youtubecontainer {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.content {
			width: 30%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 1rem;

			.youtubetitle {
				width: 100%;
				font: 300 1rem/1 'Gothic A1';
				color: #000;
				text-align: center;
			}

			.txt {
				width: 100%;

				p {
					font: 300 0.8rem/1 'Gothic A1';
					color: #000;
					text-align: center;
				}

				span {
					font: 300 0.6rem/1 'Gothic A1';
				}
			}

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
	}
}
