.footer {
	width: 100vw;

	.footerInfo {
		width: 100vw;

		.footerLogo {
			width: 50px;
		}

		.footerTxt {
			.txt1,
			.txt2,
			.txt3 {
				font: 100 1rem/1 'arial';
			}
		}

		.footerSNS {
			.sns1,
			.sns2 {
				flex: grid;
			}
		}
	}
	.footerSite {
		width: 100vw;
	}
}
