.clientBody {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: self-start;
	justify-content: center;

	.subtitle {
		width: 20vw;
		height: 60vh;
		padding: 5px;
		background-color: #595959;
		border-color: transparent;
		font: 600 5vw/1.2 'arial';
		color: #fff;
		border-radius: 20px;
		text-align: center;
	}
	.space {
		width: 10vw;
		height: 60vh;
		border-right: 1px solid #fff;
	}
}
