.manager {
	background-color: #eff1f0;
	padding: 30px;

	.innermanagersub {
		.mailForm {
			width: 100%;
			height: 690px;
			background-color: #b2feff;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 30px;
			gap: 30px;

			.mailTitle {
				width: 60%;
				height: 41.33px;
				border: 3px solid rgb(5, 34, 163);
				background-color: #eff1f0;
				border-radius: 20px;
				padding: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				p {
					font: 700 1rem/1 'Noto Sans Korean';
					text-align: center;
				}
			}

			.formBox {
				width: 90%;
				height: 100%;
				// padding: 30px;
				display: flex;
				flex-direction: column;

				.upper {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					gap: 30px;
					margin-bottom: 30px;

					span {
						width: 100%;
						height: 20%;
						border: 3px solid #006eff;
						background-color: #eff1f0;
						border-radius: 20px;
						padding: 10px;
						display: flex;
						justify-content: space-between;
						align-items: center;

						label {
							width: 30%;
							font: 600 1rem/1 'Noto Sans Korean';
							color: #006eff;
							text-align: center;
						}

						input[type='text'],
						input[type='email'],
						textarea {
							border: none;
							width: 100%;
							padding: 10px 5px;
							background: transparent;
							resize: none;

							//placeholer 요소 안쪽의 텍스트 스타일링
							&::placeholder {
								color: rgba(var(--keyRGB), 0.6);
								font: 400 0.8rem/1.2 'Noto Sans Korean';
							}
						}
					}
				}
				.lower {
					width: 100%;
					height: 80%;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;

					span {
						width: 100%;
						height: 100%;
						border: 3px solid #006eff;
						border-radius: 20px;
						background-color: #eff1f0;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						justify-content: flex-start;
						padding: 50px;

						label {
							width: 100%;
							font: 600 1rem/1 'Noto Sans Korean';
							color: #006eff;
							margin-bottom: 20px;
						}

						textarea {
							border: none;
							width: 80%;
							padding: 10px 5px;
							background: transparent;
							resize: none;

							//placeholer 요소 안쪽의 텍스트 스타일링
							&::placeholder {
								color: rgba(var(--keyRGB), 0.6);
								font: 400 0.8rem/1.2 'Noto Sans Korean';
							}
						}
					}
				}
				.btnSet {
					width: 100%;
					display: flex;
					gap: 5px;
					margin-top: 20px;
					justify-content: flex-end;

					input {
						display: inline-block;
						background: #333;
						border-radius: 20px;
						padding: 10px 20px;
						font: 600 1rem/1 'Noto Sans Korean';
						letter-spacing: 1px;
						color: #eee;
						cursor: pointer;
						border: 1px solid #333;
						box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.05);
					}
				}
			}
		}
	}
}
