.manager {
	.innermanagersub {
		.mailForm {
			width: 100%;
			height: auto;
			// border: 1px solid #333;
			padding: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.mailTitle {
				width: 60%;
				height: 40%;
				border: 3px solid #0522a3;
				border-radius: 20px;
				padding: 10px;
				margin-bottom: 20px;

				p {
					font: 700 1rem/1 'Gothic A1';
					text-align: center;
				}
			}

			.formBox {
				width: 100%;
				// border-right: 1px solid #bbb;
				padding-top: 7vh;

				label {
					display: block;
					font: 500 1rem/1 'orbitron';
					color: #333;
					margin-bottom: 20px;
				}

				input[type='text'],
				input[type='email'],
				textarea {
					border: none;
					width: 100%;
					border-bottom: 1px solid #888;
					padding: 10px 5px;
					background: transparent;
					resize: none;

					//placeholer 요소 안쪽의 텍스트 스타일링
					&::placeholder {
						color: rgba(var(--keyRGB), 0.6);
						font: 400 0.8rem/1.2 'raleway';
					}
				}

				.upper {
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-bottom: 50px;

					span {
						display: block;
						width: 48%;

						input[type='text'],
						input[type='email'] {
							display: block;
						}
					}
				}
				.lower {
					width: 100%;
					margin-bottom: 10px;
				}

				.btnSet {
					display: flex;
					gap: 5px;

					input {
						display: inline-block;
						background: rgba(var(--keyRGB), 0.8);
						border-radius: 3px;
						padding: 10px 20px;
						font: 300 0.6rem/1 'orbitron';
						letter-spacing: 1px;
						color: #000;
						cursor: pointer;
						border: none;
						box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.05);
					}
				}
			}
		}
	}
}
