.client,
.manager {
	width: 100vw;
	height: 70%; // 100vh 중 70% 영역 사용
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 5px;
	// margin-top: 5px;
	margin-bottom: 60px;
	gap: 30px;

	.upperclient,
	.uppermanager {
		width: 80%;
		height: 40%;
		display: flex;
		flex-direction: column;

		.NoticeBanner {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			padding: 10px;

			.greeting {
				width: 50%;
				padding: 10px;
				border-radius: 40px;
				display: flex;
				justify-content: center;
				background-color: #f0e9e9;
				margin-bottom: 3vh;

				p {
					font: 600 2rem/1 'Noto Sans Korean';
					color: #000;
					text-align: center;
				}
			}

			.bannerItemContainer {
				width: 100%;
				height: 60%;
				display: flex;
				flex-direction: row;
				gap: 2vw;

				.bannerItem {
					width: 100%;
					height: 20vh;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					border-radius: 20px;

					.noticeTitle,
					.noticeContents,
					a {
						width: 80%;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.noticeTitle {
						height: 40%;
						font: 600 1rem/1 'Noto Sans Korean';
						text-align: center;
					}

					.noticeContents {
						height: 30%;
						font: 300 1rem/1.2 'Noto Sans Korean';
						text-align: left;
					}

					a {
						height: 30%;
						font: 300 0.9rem/1 'Noto Sans Korean';
						text-align: left;
					}

					a:hover {
						color: red;
					}
				}
			}
		}
	}

	.innerclientsub,
	.innermanagersub {
		width: 80vw;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;

		.subMenuContainer {
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: center;

			.clientMenu,
			.managerMenu {
				width: 100%;
				height: 60%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 10px;
				gap: 4vh;

				.menuTitle {
					width: 60%;
					border-radius: 20px;
					padding: 10px;

					p {
						font: 700 1rem/1 'Noto Sans Korean';
						text-align: center;
					}
				}

				.itemContainer,
				.lastItemContainer {
					width: 100%;
					border-radius: 20px;
					padding: 10px;
					display: flex;
					justify-content: center;

					a {
						font: 500 1rem/ 'Noto Sans Korean';
						color: #000;
						text-align: center;
					}
				}
			}
		}
	}
}

// 개별 설정
.client {
	.upperclient {
		.NoticeBanner .greeting {
			border: 3px solid #f64040;
		}

		.bannerItemContainer .bannerItem {
			border: 3px solid #f64040;
		}
	}

	.clientMenu .menuTitle {
		border: 3px solid #f64040;
	}

	.clientMenu .itemContainer {
		border: 3px solid #d9d9d9;
		background-color: #fff;
	}

	.clientMenu .lastItemContainer {
		border: 3px solid #f64040;
		background-color: #999;
	}
}

.manager {
	.uppermanager {
		.NoticeBanner .greeting {
			border: 3px solid #0522a3;
		}

		.bannerItemContainer .bannerItem {
			border: 3px solid #0522a3;
		}
	}

	.managerMenu .menuTitle {
		border: 3px solid #0522a3;
	}

	.managerMenu .itemContainer {
		border: 3px solid #d9d9d9;
		background-color: #fff;
	}

	.managerMenu .lastItemContainer {
		border: 3px solid #0522a3;
		background-color: #999;
	}
}
