.detaillist {
	width: 30vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	.btn {
		width: 20vw;
		height: auto;
		padding: 5px;
		background-color: #fff;
		border-color: transparent;
		font: 600 1rem/1.2 'arial';
		color: #000;
		border-radius: 50px;
		cursor: pointer;
		text-align: center;
		transition: transform 0.3s ease;
	}

	.btnActive {
		width: 20vw;
		height: auto;
		padding: 5px;
		background-color: #000;
		border-color: transparent;
		font: 600 1rem/1.2 'arial';
		color: white;
		border-radius: 50px;
		cursor: pointer;
		text-align: center;
		transform: translateY(5px);
	}
}
