.photos {
	width: 80%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.photosTitle {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 20px;
		margin-bottom: 20px;

		.gun {
			width: 5%;
		}
		.infotitle {
			width: 80%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			font: 700 2.5rem/1 'Noto Sans Korean';
			color: #e3c04d;
		}
	}
}

.historytxt {
	width: 80%;
	height: auto;
	padding: 10px;
	margin-bottom: 30px;
	.historyList {
		.historyItem {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h3 {
				font: 600 1rem/1 'Noto Sans Korean';
				padding-bottom: 10px;
			}

			p {
				font: 400 1rem/1 'Noto Sans Korean';
				padding-bottom: 10px;
			}

			.subDetails {
				font: 300 1rem/1 'Noto Sans Korean';
				padding-bottom: 30px;
			}
		}
	}
}

.swiper-wrapper {
	width: 80%;
	height: 100%;

	.swiper-slide {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 5px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}
}
