.noticeBanner {
	width: 100vw;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.noticeBanner {
		width: 80%;
		height: auto;

		.banneritem {
			width: 75%;
			display: flex;
			justify-content: space-between;

			.banner1,
			.banner2 {
				width: 50%;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.board {
			width: 20%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
