.youtubeDetail {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	background-color: #eff1f0;
	gap: 40px;

	.title {
		width: 80%;
		font: 700 3rem/1.3 'Noto Sans Korean';
		text-align: center;
	}

	.vidFrame {
		width: 80%;
		height: 100%;
		overflow: hidden;
		padding-bottom: 10px;

		iframe {
			border: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.textbox {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		p {
			width: 80%;
			font: 300 1rem/1.3 'Noto Sans Korean';
			color: #555;
			margin-bottom: 20px;
		}

		.date {
			width: 80%;
			font: 400 1rem/1 'Noto Sans Korean';
			color: 555;
		}
	}
}
